@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="nameForm">
        <input type="text" id="nameInput" placeholder="Enter a name"/>
        <button type="submit">Submit</button>
    </form>
    <div id="nameDisplay"></div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#nameForm").submit(function(e) {
                e.preventDefault();
                
                let name = $("#nameInput").val();

                $.post("/Home/SubmitName", { name: name }, function(response) {
                    $("#nameDisplay").text(response.name);
                });
            });
        });
    </script>
}